.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-line {
    width: 100vw;
    height: 0.5rem;
    background-color: $main-color;
}
.menu-nav {
    padding: 0 2.5rem;
}
.menu-nav-item {
    color: $font-color;
    text-decoration: none;
    margin-right: 1rem;
    &:hover {
        color: $accent-color;
    }
}

.logo {
	padding: 0 2.5rem;
	font-family: $logo-font;
	font-size: 2rem;
    color: $font-color;
    text-decoration: none;
	span {
        margin: 0 1rem;
        @include mobile {
            display: none;
        }
    }
}

