@import "generic/reset";
@import "settings/all";
@import "elements/menu";
@import "elements/searchbar";
@import "elements/searchResults";
@import "elements/movieCard";

html {
	font-size: 62.5%;
}

body {
	font-family: $main-font;
	background-color: $background-color;
	color: $font-color;
	font-size: 1.6rem;
}
.container {
	margin-right: auto;
	margin-left: auto;
	max-width: 1400px;
	padding-right: 10px;
	padding-left: 10px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

