@import "generic/reset";
@import "settings/all";

html {
	font-size: 62.5%;
}

body {
	margin-right: auto;
	margin-left: auto;
	max-width: 960px;
	padding-right: 10px;
	padding-left: 10px;
    
	font-family: $main-font;
	background-color: $background-color;
	color: $font-color;
	font-size: 1.6rem;
}

.logo {
	font-family: $logo-font;
	font-size: 2rem;
}